@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Kanit:wght@400;500&display=swap');

.App {
    width: 100vw;
    min-height: 100vh;
    font-family: "Kanit", sans-serif;
    position: relative;
}

.wrap {
    margin: 0 auto;
    max-width: 750px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

input::placeholder {
    font-family: 'Inter';
}

h1,
h2 {
    font-weight: 500;
}

button {
    cursor: pointer;
}