@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Kanit:wght@400;500&display=swap');

.App {
    width: 100vw;
    min-height: 100vh;
    font-family: "Kanit", sans-serif;
}

.wrap {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input::placeholder {
    font-family: 'Inter';
}

button {
    cursor: pointer;
}